collapse-menu {
    display: block;
}

collapse-menu>[slot="item"] {
    padding-right: 1em;
    box-sizing: border-box;
    opacity: 0;
    transform: perspective(1px) translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &:last-of-type {
        padding-right: 0;
    }
}


collapse-menu[expandable="false"]>[slot="item"],
collapse-menu:not([expandable])>[slot="item"],
collapse-menu[expanded="true"]>[slot="item"] {
    opacity: 1;
}

collapse-menu[expandable="false"]>[slot="item"],
collapse-menu:not([expandable])>[slot="item"] {
    &:last-of-type {
        padding-right: 0;
    }
}

collapse-menu[expandable="true"][expanded="true"]>[slot="item"] {
    padding: 0.5em 1.5em;
    position: relative;
}