:host(collapse-menu) {
    display: block;
}

collapse-menu {
    display: block;
}

.collapse-menu-container {
    position: relative;

    .toggle-arrow,
    .default-toggle-icon {
        display: inline-block;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .toggle-arrow {
        position: relative;
        margin-left: -0.5em;
        margin-right: -0.5em;

        svg {
            fill: currentColor;
        }
    }

    .collapse-menu-items {
        transition: transform 0.2s;

        .collapse-menu-items-inner {
            flex-wrap: nowrap;
            white-space: nowrap;
        }
    }

    &:not(.collapseonwrap) {
        .collapse-menu-items {
            .collapse-menu-items-inner {
                flex-wrap: wrap;
                white-space: normal;
            }
        }
    }

    .collapse-menu-items-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0s;
    }

    .collapse-menu-toggle {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        height: 1.5em;
        display: flex;
        cursor: pointer;
        transition: opacity 0.2s;
    }

    .collapse-menu-toggle-icon {
        display: flex;
        align-items: center;
    }

    .collapse-menu-toggle-inner {
        padding-left: 1em;
        position: relative;
        display: none;
        cursor: pointer;
        margin: 0;
        opacity: 0;
        height: 0;

        .default-toggle-inner-icon {
            position: relative;
            left: -0.33em;
            pointer-events: none;
        }
    }

    &[direction="horizontal"] {
        .collapse-menu-items {
            display: flex;

            .collapse-menu-items-inner {
                display: flex;
            }
        }
    }

    &[expandable="true"] {

        .toggle-arrow,
        .default-toggle-icon {
            opacity: 1;
            position: relative;
            pointer-events: all;
            z-index: unset;
        }

        .collapse-menu-items {
            opacity: 0;
            pointer-events: none;
            z-index: -1;
            position: fixed;
            transform: translateX(-105%) perspective(1px) translateZ(0);
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }

        .collapse-menu-items-bg {
            opacity: 1;
            transition: opacity 0s linear 0.3s;
        }

        .collapse-menu-toggle-inner {
            display: block;
            margin: 1em 0;
            height: 1.5em;
            transition: margin 0.01s linear 0.4s, height 0.01s linear 0.4s;
        }

        .collapse-menu-toggle {
            position: relative;
            opacity: 1;
            pointer-events: all;
        }

        &[align="right"] {
            .collapse-menu-items {
                transform: translateX(105%) perspective(1px) translateZ(0);
                transform-style: preserve-3d;
                backface-visibility: hidden;
            }
        }
    }

    &[expandable="false"] {
        .collapse-menu-items {
            position: relative;
            transform: translateX(0%) perspective(1px) translateZ(0);
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }

        .collapse-menu-toggle-inner {
            opacity: 0;
            z-index: -1;
            pointer-events: none;
        }
    }

    &[expandable="true"][expanded="true"] {
        .collapse-menu-items {
            transform: translateX(0em) perspective(1px) translateZ(0);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            opacity: 1;
            z-index: unset;
            flex-direction: column;
            top: 0;
            left: 0;
            height: 100vh;
            align-items: flex-start;
            pointer-events: all;

            .collapse-menu-items-inner {
                flex-direction: column;
                height: calc(100vh - 3.5em);
                overflow: auto;
            }
        }

        .collapse-menu-toggle {
            opacity: 0;
        }

        .collapse-menu-toggle-inner {
            opacity: 1;
            transition: opacity 0.5s ease-in-out 0.1s;
        }

        &[align="right"] {
            .collapse-menu-items {
                right: 0;
                left: unset;
                text-align: left;
            }

            .collapse-menu-toggle-inner {
                transform: rotate(180deg) perspective(1px) translateZ(0);
                transform-style: preserve-3d;
                backface-visibility: hidden;
                padding-left: 0;
                padding-right: 7%;
            }
        }
    }
}


collapse-menu>[slot="item"] {
    padding-right: 1em;
    box-sizing: border-box;
    opacity: 0;
    transform: perspective(1px) translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &:last-of-type {
        padding-right: 0;
    }
}


collapse-menu[expandable="false"]>[slot="item"],
collapse-menu:not([expandable])>[slot="item"],
collapse-menu[expanded="true"]>[slot="item"] {
    opacity: 1;
}

collapse-menu[expandable="false"]>[slot="item"],
collapse-menu:not([expandable])>[slot="item"] {
    &:last-of-type {
        padding-right: 0;
    }
}

collapse-menu[expandable="true"][expanded="true"]>[slot="item"] {
    padding: 0.5em 1em;
    position: relative;
}