<div class="calendar-controls">
    <div class="calendar-control calendar-previous">
        <effect-ripple start="mousedown" end="mouseup"></effect-ripple>
        <effect-bounce-z start="mousedown" amount="-8"></effect-bounce-z>
        <icon-element class="icon-chevron-left" tabindex="-1"></icon-element>
    </div>
    <div class="calendar-control-display">
        <div class="calendar-month"></div>
        <div class="calendar-year"></div>
    </div>
    <div class="calendar-control calendar-next">
        <effect-ripple start="mousedown" end="mouseup"></effect-ripple>
        <effect-bounce-z start="mousedown" amount="-8"></effect-bounce-z>
        <icon-element class="icon-chevron-right" tabindex="-1"></icon-element>
    </div>
</div>
