<div class="progress-bar-container">
    <div class="progress-bar-heading">
        <div class="progress-bar-header"></div>
        <div class="progress-bar-percentage"></div>
    </div>
    <div class="progress-bar-inner">
        <div class="progress-bar-track">
            <div class="progress-bar-track-inner">
                <div class="progress-bar-bottom"></div>
                <div class="progress-bar-top"></div>
            </div>
        </div>
    </div>
    <div class="progress-bar-bottom-container">
        <div class="progress-bar-text"></div>
        <button-element class="progress-bar-button"></button-element>
    </div>
    <style type="text/css" rel="stylesheet" style="display:none;" class="themeStyles"></style>
    <style type="text/css" rel="stylesheet" style="display:none;" class="injectedStyles"></style>
</div>
