<div class="content-drawer-container">
    <div class="content-drawer-header">
        <icon-element class="content-drawer-header-icon" size="1.38em"></icon-element>
        <slot name="header"></slot>
        <effect-underline start="none" opacity="1" speed="700"></effect-underline>
        <effect-ripple start="none" speed="600"></effect-ripple>
        <effect-fade start="none" speed="600" opacity="0,1"></effect-fade>
    </div>
    <div class="content-drawer-content">
        <div class="content-drawer-content-inner">
            <div class="content-drawer-content-inner-inner">
                <slot name="content"></slot>
            </div>
        </div>
    </div>
</div>
