<style>
    :host,
    effect-underline,
    .effect-underline-container,
    .effect-underline-container * {
        pointer-events: none;
        box-sizing: border-box;
    }

    .effect-underline-container .underline {
        position: absolute;
        top: calc(100% - 2px);
        left: 0px;
        height: 2px;
        width: 100%;
        background: #59a2d8;
        opacity: 0;
        pointer-events: none;
        display: block;
        transform: scale(0);
        /* will-change: transform, transform-origin, opacity; */
        transition:
            transform-origin 0.2s ease-in-out,
            transform 0.2s ease-in-out,
            opacity 0.2s ease-in-out;
    }

    .active.effect-underline-container>.underline {
        opacity: 1;
        transform: scale(1);
    }

</style>
