<div class="content-collapse-container">
    <div class="content-collapse-toggler">
        <icon-element class="content-collapse-toggler-icon" size="1.25em"></icon-element>
        <div class="content-collapse-toggler-content">
            <span slotname="content-collapse-toggler"></slot>
        </div>
    </div>
    <div class="content-collapse-content">
        <content-transition class="content-collapse-transition" keepchildren="true" type="fade">
            <div class="content-collapse-empty" slot="hidden"></div>
            <div class="content-collapse-content-holder" slot="hidden">
                <span slotname="content-collapse-content"></span>
            </div>
        </content-transition>
    </div>
</div>
