<div class="content-collapse-container">
    <div class="content-collapse-toggler">
        <icon-element class="content-collapse-toggler-icon" size="1.5em"></icon-element>
        <div class="content-collapse-toggler-content">
            <slot name="content-collapse-toggler"></slot>
        </div>
    </div>
    <div class="content-collapse-content">
        <content-transition class="content-collapse-transition" keepchildren="true" type="fade">
            <div class="content-collapse-empty" slot="hidden"></div>
            <div class="content-collapse-content-holder" slot="hidden">
                <slot name="content-collapse-content"></slot>
            </div>
        </content-transition>
    </div>

    <style type="text/css" rel="stylesheet" style="display:none;" class="themedStyles"></style>
    <style type="text/css" rel="stylesheet" style="display:none;" class="injectedStyles"></style>
</div>
