ajax-form {
    font: inherit;
    line-height: inherit;
    display: block;
    position: relative;
    transition: opacity 0.2s;

    &[ready="true"] {
    opacity: 1;
}

    input-field,
    input-bool,
    input-select {
        width: 100%;
    }
}