:host(effect-scale) {
    pointer-events: none;
    box-sizing: border-box;
}

effect-scale,
.effect-scale-container,
.effect-scale-container * {
    pointer-events: none;
    box-sizing: border-box;
}