:host(cookie-message) {
    font: inherit;
    line-height: inherit;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999999;
    display: flex;
    align-items: flex-end;
    outline: none !important;
}

cookie-message {
    font: inherit;
    line-height: inherit;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999999;
    display: flex;
    align-items: flex-end;
    outline: none !important;
}

.cookie-message-container {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 1em auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    button-element {
        white-space: nowrap;
    }

    &.shown {
        pointer-events: all;
        opacity: 1;
    }
}

.cookie-message-inner {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0 -1em;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.13), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25);

    &>* {
        margin: 0 1em;
    }
}

.cookie-message-text {
    flex-grow: 1;
}