.grid-layout-items {
    display: flex;
    display: grid;
    justify-items: center;
    grid-auto-flow: dense;
    width: 100%;
    flex-wrap: wrap;

    &>*,
    ::slotted(*) {
        width: 100%
    }


    .grid-layout-item {
        box-sizing: border-box;

        &.hidden {
            position: absolute;
            z-index: -1;
            opacity: 0;
            pointer-events: none;
        }
    }
}