:host(grid-layout) {
    display: block;
    opacity: 0;

    &[viewable="true"] {
        opacity: 1;
    }
}

grid-layout {
    display: block;
    opacity: 0;

    &[viewable="true"] {
        opacity: 1;
    }
}

.grid-layout-items {
    /*
    display: flex;
    flex-wrap: wrap;
    display: -ms-grid;
    */
    display: flex;
    display: grid;
    /*
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
    */
    justify-items: center;
    grid-auto-flow: dense;
    width: 100%;
    flex-wrap: wrap;

    &>*,
    ::slotted(*) {
        width: 100%
    }
}