:host {
    display: block;
}

grid-layout {
    display: block;
}

.grid-layout-items {
    /*
    display: flex;
    flex-wrap: wrap;
    */
    display: -ms-grid;
    display: grid;
    /*
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
    */
    justify-items: center;
    grid-auto-flow: dense;
    width: 100%;
}