.effect-ripple-container,
.effect-ripple-container * {
    pointer-events: none;
    box-sizing: border-box;
}

.effect-ripple-container {
    overflow: hidden;

    .ripple {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        pointer-events: none;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ripple-inner {
        display: none;
        height: 0%;
        padding: 50% 0px;
        width: 100%;
        background: #59a2d8;
        border-radius: 50%;
        transform: perspective(1px) translateZ(0) scaleX(0) scaley(0);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        position: absolute;

        &:nth-child(1) {
            display: block;
        }
    }
}