<div class="input-field-container input-field">
    <div class="input-field-container-inner">
        <div class="input-field-top-section">
            <div class="input-field-label-top">
                <span slotblock label-top></span>
            </div>
        </div>
        <div class="input-field-middle-section">
            <div class="input-field-label-left">
                <span slotblock label-left></span>
            </div>
            <div class="input-field-input-section">
                <div class="input-field-label-inside">
                    <span slotblock label-inside></span>
                </div>
                <div class="input-field-input-container">
                    <div class="input-field-input-container-inner">
                        <span slotblock inputholder></span>
                    </div>
                    <div class="input-field-input-overlay">
                        <div class="input-field-icon">
                            <span slotblock input-field-icon></span>
                        </div>
                        <div class="input-field-clear">
                            <span slotblock input-field-clear></span>
                        </div>
                    </div>
                    <div class="input-field-border"></div>
                </div>
            </div>
            <div class="input-field-label-right">
                <span slotblock label-right></span>
            </div>
        </div>
        <div class="input-field-bottom-section">
            <div class="input-field-label-bottom">
                <span slotblock label-bottom></span>
            </div>
            <div class="input-field-bottom-content">
                <div class="input-field-messages">
                    <div class="input-field-message-help"></div>
                    <div class="input-field-message-error"></div>
                </div>
                <div class="input-field-character-count-container">
                    <div class="input-field-character-count-inner">
                        <div class="input-field-character-count"></div>
                        <div class="input-field-character-count-max-divider">/</div>
                        <div class="input-field-character-count-max"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
