<div class="input-field-container">
    <div class="input-field-container-inner">
        <div class="input-field-top-section">
            <div class="input-field-label-top"></div>
        </div>
        <div class="input-field-middle-section">
            <div class="input-field-label-left"></div>
            <div class="input-field-input-section">
                <div class="input-field-label-inside"></div>
                <div class="input-field-input-container">
                    <div class="input-field-input-container-inner"></div>
                    <div class="input-field-input-effects">
                        <effect-underline start="focus" end="blur" opacity="0.8" speed="700"></effect-underline>
                        <effect-ripple start="focus" opacity="0.25" speed="600"></effect-ripple>
                        <effect-bounce-z amount="-4" speed="300"></effect-bounce-z>
                    </div>
                    <div class="input-field-input-overlay">
                        <icon-element class="input-field-icon" size="1.25em"></icon-element>
                        <icon-element class="input-field-clear" size="1.25em"></icon-element>

                        <div class="input-field-checkbox-overlay">
                            <icon-element class="input-field-checkbox-icon" size="0.7em"></icon-element>
                        </div>
                    </div>
                    <div class="input-field-border"></div>
                    <input type="hidden" class="input-field-hidden-input">
                </div>
            </div>
            <div class="input-field-label-right"></div>
        </div>
        <div class="input-field-bottom-section">
            <div class="input-field-label-bottom"></div>
            <div class="input-field-bottom-content">
                <div class="input-field-messages">
                    <div class="input-field-message-help"></div>
                    <div class="input-field-message-error"></div>
                </div>
                <div class="input-field-character-count-container">
                    <div class="input-field-character-count-inner">
                        <div class="input-field-character-count"></div>
                        <div class="input-field-character-count-max-divider">/</div>
                        <div class="input-field-character-count-max"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css" rel="stylesheet" style="display:none;" class="themeStyles"></style>
    <style type="text/css" rel="stylesheet" style="display:none;" class="injectedStyles"></style>
</div>
