@import '../input-shared/style.scss';

.input-field-container.input-field {

    .input-field-container-inner {

        &[input-kind="textarea"] {
            .input-field-input-overlay {
                padding-top: 0.85em;
                align-items: flex-start;
            }
        }

        &.max,
        &.maxlength {

            .input-field-character-count-max-divider,
            .input-field-character-count-max {
                display: block;
            }
        }

        &.showcount {
            .input-field-character-count-container {
                display: block;
            }
        }
    }

    .input-field-character-count-inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.6;
        padding: 0em 0em 0em 1em;
    }

    .input-field-character-count-container,
    .input-field-character-count-max-divider,
    .input-field-character-count-max {
        display: none;
    }
}