<style>
    :host,
    :root {
        display: inline-block;
        width: 300px;
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }

    input-field {
        position: relative;
    }

    .input-field-container {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        opacity: 1;
        pointer-events: all;
        position: relative;
    }

    .input-field-container * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .input-field-container-inner {
        position: relative;
        padding: 1em 0em;
        min-height: 1em;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out 0.15s, padding 0.2s ease-in-out;
    }

    .input-field-container-inner.ready {
        opacity: 1;
        pointer-events: all;
    }

    .input-field-container-inner[label-position="inside"] {
        padding: 0em 0em 1em;
    }

    .input-field-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 90%;
        padding: 0.1em;
    }

    .input-field-container-inner[label-position="left"] .input-field-bottom-content {
        justify-content: flex-end;
        text-align: right;
    }

    .input-field-container-inner[label-position="right"] .input-field-bottom-content {
        justify-content: flex-start;
    }

    .input-field-container-inner .input-field-message-help {
        opacity: 0.6;
        font-size: 100%;
        transition: opacity 0.2s ease-in-out, font-size 0.2s ease-in-out;
    }

    .input-field-container-inner .input-field-message-error {
        opacity: 0;
        font-size: 0%;
        color: var(--danger-color, #a10005);
        transition: opacity 0.2s ease-in-out 0.1s, font-size 0.2s ease-in-out;
    }

    .input-field-container-inner.invalid .input-field-message-help {
        opacity: 0;
        font-size: 0%;
    }

    .input-field-container-inner.invalid .input-field-message-error {
        opacity: 1;
        font-size: 100%;
    }

    .input-field-character-count-inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.6;
        padding: 0em 0em 0em 1em;
    }

    .input-field-container label {
        padding: 0.1em;
        display: block;
        font-weight: var(--label-weight, bold);
        opacity: 0;
    }

    .input-field-container-inner.ready label {
        cursor: pointer;
        opacity: 1;
        transition: font-weight 0.2s ease-in-out,
            top 0.2s ease-in-out,
            padding 0.2s ease-in-out,
            opacity 0.2s ease-in-out 0.1s,
            transform 0.2s ease-in-out,
            min-width 0.2s ease-in-out;
    }

    .input-field-container label.input-field-left-label {
        padding-right: 1em;
    }

    .input-field-container label.input-field-right-label {
        padding-left: 1em;
    }

    .input-field-container label.input-field-inside-label {
        position: relative;
        top: 2.09em;
        pointer-events: none;
        padding: 0.1em 1em;
        font-weight: normal;
        opacity: 0.5;
        z-index: 2;
    }

    .input-field-container-inner.notempty label.input-field-inside-label,
    .input-field-container-inner.focused label.input-field-inside-label,
    .input-field-container-inner.icon.notempty[icon-align="left"] label.input-field-inside-label,
    .input-field-container-inner.icon.notempty[icon-align="right"] label.input-field-inside-label,
    .input-field-container-inner.icon.focused[icon-align="left"] label.input-field-inside-label,
    .input-field-container-inner.icon.focused[icon-align="right"] label.input-field-inside-label,
    .input-field-container-inner.icon.clearbutton.notempty label.input-field-inside-label,
    .input-field-container-inner.icon.clearbutton.focused label.input-field-inside-label {
        top: 0em;
        pointer-events: all;
        padding: 0.1em;
        font-weight: var(--label-weight, bold);
        opacity: 1;
        z-index: unset;
    }

    .input-field-middle-section {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        position: relative;
    }

    .input-field-input-section {
        width: 100%;
        position: relative;
        flex-grow: 1;
        flex-basis: 0;
    }

    .input-field-input-container {
        position: relative;
    }

    .input-field-input-container .input-field-input-effects {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        pointer-events: none;
        padding: 0em;
        overflow: hidden;
    }

    .input-field-input-container .input-field-input-overlay,
    .input-field-input-container .input-field-rotary-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0em 0.5em;
    }

    .input-field-input-container .input-field-rotary-overlay {
        flex-direction: column;
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
    }

    .input-field-input-container .input-field-rotary-overlay rotary-list {
        display: none;
    }

    .input-field-input-container:hover .input-field-rotary-overlay,
    .input-field-input-container.focused .input-field-rotary-overlay {
        opacity: 1;
    }


    .input-field-input-container .input-field-rotary-overlay .input-field-up {
        transform: rotate(180deg);
    }

    .input-field-input-container .input-field-up,
    .input-field-input-container .input-field-down {
        pointer-events: none;
        cursor: pointer;
        width: 18px;
        height: 14px;
        position: relative;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .input-field-input-container .input-field-up svg,
    .input-field-input-container .input-field-down svg {
        position: absolute;
        pointer-events: none;
        top: -5px;
        left: -3px;
    }

    .input-field-container-inner[input-kind="rotary"] .input-field-input-container input {
        position: relative;
    }

    .input-field-container-inner[input-kind="rotary"] .input-field-input-container rotary-list {
        margin-left: 1em;
        opacity: 0;
        width: auto;
        transition: opacity 0.2s ease-in-out;
    }

    .input-field-container-inner[input-kind="rotary"].focused .input-field-input-container rotary-list {
        opacity: 1;
    }

    /* .input-field-container-inner[input-kind="rotary"] .input-field-input-container .input-field-up,
    .input-field-container-inner[input-kind="rotary"] .input-field-input-container .input-field-down {
        pointer-events: all;
        opacity: 0.7;
    }

    .input-field-container-inner[input-kind="rotary"] .input-field-input-container-inner input {
        text-align: center;
    }

    .input-field-container .input-field-container-inner[input-kind="rotary"] label.input-field-inside-label {
        display: inline-block;
        transform: translateX(-50%);
        min-width: 1%;
    }

    .input-field-container .input-field-container-inner[input-kind="rotary"] .input-field-label-inside {
        transform: translateX(50%);
        transition: transform 0.2s ease-in-out;
    }

    .input-field-container .input-field-container-inner[input-kind="rotary"].focused label.input-field-inside-label,
    .input-field-container .input-field-container-inner[input-kind="rotary"].notempty label.input-field-inside-label {
        transform: translateX(0%);
        min-width: 100%;
    }

    .input-field-container .input-field-container-inner[input-kind="rotary"].focused .input-field-label-inside,
    .input-field-container .input-field-container-inner[input-kind="rotary"].notempty .input-field-label-inside {
        transform: translateX(0%);
    } */

    .input-field-container-inner .input-field-input {
        background: rgba(255, 255, 255, 0.4);
        border: none;
        border-radius: 0px;
        display: block;
        margin: 0em;
        width: 100%;
        padding: 1em;
        opacity: 1;
        font: inherit;
        color: inherit;
        outline: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        box-sizing: border-box;
        text-overflow: ellipsis;
        hyphens: auto;
        box-shadow: inset 0em 0.09em 0em rgba(0, 0, 0, 0.13), inset 0em 0em 0em 0.02em rgba(0, 0, 0, 0.31);
        transition: color 0.4s, background-color 0.4s, box-shadow 0.4s,
            max-height 0.4s, padding 0.4s;
    }

    .input-field-container-inner[input-kind="textarea"] .input-field-input-overlay {
        padding-top: 0.85em;
        align-items: flex-start;
    }

    .input-field-container-inner .select-arrow {
        display: none;
    }

    .input-field-container-inner .select-arrow svg {
        fill: currentColor;
    }

    .input-field-container-inner .select-arrow {
        color: inherit;
    }

    .input-field-container-inner[input-kind="select"] .select-arrow {
        display: block;
    }

    .input-field-container-inner .input-field-input-container-inner input,
    .input-field-container-inner .input-field-input-container-inner textarea {
        cursor: text;
    }

    .input-field-container-inner .input-field-input-container-inner input::-ms-clear {
        display: none;
    }

    .input-field-container-inner[input-kind="select"] .input-field-input-container-inner input,
    .input-field-container-inner[input-kind="checkbox"] .input-field-input-container-inner input,
    .input-field-container-inner[input-kind="radio"] .input-field-input-container-inner input {
        cursor: pointer;
    }

    .input-field-input-container-inner rotary-list {
        position: absolute;
        height: 100%;
    }

    .input-field-container-inner[resize="auto"] .input-field-input,
    .input-field-container-inner[resize="none"] .input-field-input {
        resize: none;
    }

    .input-field-container-inner[resize="horizontal"] .input-field-input {
        resize: horizontal;
    }

    .input-field-container-inner[resize="vertical"] .input-field-input {
        resize: vertical;
    }

    .input-field-container-inner [type="checkbox"].input-field-input,
    .input-field-container-inner [type="radio"].input-field-input {
        width: 21px;
        height: 21px;
        padding: 0px;
        cursor: pointer;
    }

    .input-field-container-inner[input-kind="radio"] .input-field-input-overlay {
        border-radius: 50%;
    }

    .input-field-container-inner[input-kind="radio"] .input-field-input-overlay {
        overflow: hidden;
    }

    .input-field-container-inner [type="checkbox"].input-field-input.checked,
    .input-field-container-inner [type="checkbox"].input-field-input:checked {
        background: rgba(89, 162, 216, 0.67);
    }

    .input-field-container-inner input[disabled],
    .input-field-container-inner select[disabled],
    .input-field-container-inner textarea[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
        background: rgba(200, 200, 200, 0.6);
    }

    .input-field-container-inner input[readonly],
    .input-field-container-inner select[readonly],
    .input-field-container-inner textarea[readonly] {
        cursor: not-allowed;
        pointer-events: none;
    }

    .input-field-container-inner.invalid .input-field-input {
        box-shadow: inset 0px 0px 0px 1px #a10005;
    }

    .input-field-container-inner.icon[icon-align="right"] .input-field-input,
    .input-field-container-inner.clearbutton .input-field-input {
        padding-right: 2.2em;
    }

    .input-field-container-inner.icon[icon-align="left"] .input-field-input {
        padding-left: 2.2em;
    }

    /* .input-field-container-inner.icon[icon-align="left"]:not(.notempty) label.input-field-inside-label, */
    .input-field-container-inner.icon[icon-align="left"] label.input-field-inside-label,
    .input-field-container-inner.icon.clearbutton label.input-field-inside-label {
        padding-left: 2.2em;
    }

    .input-field-container-inner.icon.clearbutton .input-field-input {
        padding-left: 2.2em;
        padding-right: 2.2em;
    }

    .input-field-container-inner.icon[icon-align="right"] .input-field-input-overlay {
        justify-content: flex-end;
    }

    .input-field-container-inner.icon.clearbutton[icon-align="right"] .input-field-input-overlay {
        justify-content: space-between;
    }

    .input-field-container-inner icon-element {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .input-field-container-inner .input-field-clear {
        display: none;
    }

    .input-field-container-inner.clearbutton .input-field-clear {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
        display: flex;
    }

    .input-field-container-inner[input-kind="checkbox"] effect-underline,
    .input-field-container-inner[input-kind="radio"] effect-underline {
        display: none;
    }

    .input-field-container-inner[input-kind="radio"] .input-field-middle-section,
    .input-field-container-inner[input-kind="radio"] .input-field-input-section,
    .input-field-container-inner[input-kind="checkbox"] .input-field-middle-section,
    .input-field-container-inner[input-kind="checkbox"] .input-field-input-section {
        width: auto;
        flex-grow: 0;
    }

    .input-field-container-inner .input-field-character-count-container,
    .input-field-container-inner .input-field-character-count-max-divider,
    .input-field-container-inner .input-field-character-count-max {
        display: none;
    }

    .input-field-container-inner.showcount .input-field-character-count-container {
        display: block;
    }

    .input-field-container-inner.max .input-field-character-count-max-divider,
    .input-field-container-inner.max .input-field-character-count-max,
    .input-field-container-inner.maxlength .input-field-character-count-max-divider,
    .input-field-container-inner.maxlength .input-field-character-count-max {
        display: block;
    }

    .input-field-container-inner .input-field-option {
        padding: 0.5em;
        background: #fafafa;
        cursor: pointer;
    }

    .input-field-container-inner .input-field-option:hover {
        padding: 0.5em;
        background: #fff;
    }

    .input-field-container-inner .input-field-option.filtered-out:not(.selected):not(.blank) {
        color: rgba(0, 0, 0, 0.125);
        cursor: none;
        pointer-events: none;
    }

    .input-field-container-inner .input-field-option.selected {
        background: #59a2d8;
        color: #fff;
        pointer-events: all;
    }

</style>
