:host(input-field) {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    vertical-align: top;
    position: relative;
    color: inherit;
}

input-field {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    vertical-align: top;
    position: relative;
    color: inherit;
}

.input-field-container {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    opacity: 1;
    pointer-events: all;
    position: relative;

    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    label {
        padding: 0.1em;
        font-weight: bold;
        min-height: 1.6em;
        display: flex;
        align-items: center;
        outline: none !important;
        opacity: 1;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out;

        &.input-field-left-label {
            padding-right: 1em;
        }

        &.input-field-right-label {
            padding-left: 1em;
        }

        &.input-field-inside-label {
            position: relative;
            pointer-events: none;
            padding: 0;
            font-weight: normal;
            opacity: 0.5;
            font-size: 85%;
            transform: scale(1.1) translateY(2.5em) translateX(1em);
            transform-origin: left center;
            min-height: 1.6em;
            max-width: calc(100% - 4em);
        }
    }

    .input-field-container-inner {
        position: relative;
        padding: 1em 0em;
        min-height: 1em;
        opacity: 0;
        pointer-events: none;
        max-width: 100%;
        transition: opacity 0.2s ease-in-out 0.01s;

        &.ready {
            opacity: 1;
            pointer-events: all;
        }

        &[label-position="inside"] {
            padding: 0 0 1.3em;
        }

        &[label-position="left"] {
            .input-field-bottom-content {
                justify-content: flex-end;
                text-align: right;
            }
        }

        &[label-position="right"] {
            .input-field-bottom-content {
                justify-content: flex-start;
            }
        }

        &.invalid {
            &[label-position="inside"] {
                padding: 0;
            }

            .input-field-message-help {
                opacity: 0;
                font-size: 0%;
                transform: scale(0);
            }

            .input-field-message-error {
                opacity: 1;
                font-size: 90%;
                transform: scale(1);
            }

            .input-field-border {
                box-shadow: inset 0px 0px 0px 1px #a10005;
            }
        }

        &[input-kind="checkbox"],
        &[input-kind="radio"] {
            min-height: 5.25em;
            display: flex;
            flex-direction: column;
            justify-content: center;

            label.input-field-left-label,
            label.input-field-right-label {
                margin-top: -0.2em;
            }

            .input-field-input-container-inner {
                width: 1.7em;
                height: 1.7em;
                left: -.25em;
                top: -.25em;
                position: relative;
                margin-right: -0.5em;
                margin-bottom: -0.25em;
                cursor: pointer;
                pointer-events: all;
            }

            .input-field-border {
                box-shadow: none;
            }

            .input-field-input {
                width: 100%;
                height: 100%;
                padding: 0;
                position: relative;
                opacity: 0;
                pointer-events: none;

                &::-webkit-input-placeholder {
                    color: currentColor;
                    opacity: 0.62;
                }

                &:-webkit-input-placeholder {
                    color: currentColor;
                    opacity: 0.62;
                }

                &:-ms-input-placeholder {
                    color: currentColor;
                    opacity: 0.62;
                }

                &::placeholder {
                    color: currentColor;
                    opacity: 0.62;
                }
            }

            effect-underline {
                display: none;
            }

            .input-field-middle-section,
            .input-field-input-section {
                width: auto;
                flex-grow: 0;
            }

            .input-field-middle-section {
                align-items: flex-start;
            }
        }

        &[input-kind="checkbox"] {
            .input-field-input-container-inner {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0.24em;
                    left: 0.24em;
                    width: 1.2em;
                    height: 1.2em;
                    pointer-events: none;
                    background: rgba(255, 255, 255, .4);
                    box-shadow: inset 0px 0px 0px 1px;
                    transition: background-color .4s, box-shadow .4s;
                }
            }

            &.checked .input-field-input-container-inner:after {
                background: currentColor;
            }
        }

        &[input-kind="radio"] {
            .input-field-input-overlay {
                border-radius: 50%;
            }

            .input-field-input-container-inner:before {
                content: "";
                display: block;
                position: absolute;
                top: 0.235em;
                left: 0.235em;
                width: 1.2em;
                height: 1.2em;
                pointer-events: none;
                background: rgba(255, 255, 255, .4);
                border-radius: 50%;
                box-shadow: inset 0px 0px 0px 1px;
                transition: background-color .4s, box-shadow .4s;
            }

            &.checked {
                .input-field-input-container-inner {
                    &:before {
                        background: currentColor;
                    }

                    &:after {
                        content: "\00b7";
                        color: #fff;
                        display: flex;
                        position: absolute;
                        pointer-events: none;
                        align-items: center;
                        justify-content: center;
                        font-size: 2.3em;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        line-height: 2.3em;
                    }
                }
            }
        }

        &[input-kind="textarea"] {
            .input-field-input-overlay {
                padding-top: 0.85em;
                align-items: flex-start;
            }
        }



        &[input-kind="checkbox"],
        &[input-kind="radio"] {
            input {
                cursor: pointer;
            }
        }

        &.notempty label.input-field-inside-label,
        &.focused label.input-field-inside-label,
        &.icon.notempty[icon-align="left"] label.input-field-inside-label,
        &.icon.notempty[icon-align="right"] label.input-field-inside-label,
        &.icon.focused[icon-align="left"] label.input-field-inside-label,
        &.icon.focused[icon-align="right"] label.input-field-inside-label,
        &.icon.clearbutton.notempty label.input-field-inside-label,
        &.icon.clearbutton.focused label.input-field-inside-label {
            pointer-events: all;
            padding: 0;
            font-weight: bold;
            opacity: 1;
            font-size: 85%;
            transform: scale(1) translateY(0em) translateX(0em);
            max-width: 100%;
        }

        &.icon {
            .input-field-icon {
                pointer-events: all;
                cursor: pointer;
            }
        }

        &.notempty.checked[input-kind="checkbox"] {
            .input-field-checkbox-overlay {
                opacity: 1;
            }
        }

        &:not(.focused) {
            transform-style: preserve-3d;

            .input-field-label-inside {
                transform: translate3d(0, 0, 1px);
            }
        }

        &[resize="auto"],
        &[resize="none"] {
            .input-field-input {
                resize: none;
            }
        }

        &[resize="horizontal"] {
            .input-field-input {
                resize: horizontal;
            }
        }

        &[resize="vertical"] {
            .input-field-input {
                resize: vertical;
            }
        }

        &[input-kind="file"] {
            .input-field-input-container-inner {
                background: rgba(255, 255, 255, .4);
                position: relative;
                cursor: pointer;
                border-radius: 2px;

                &:after {
                    content: attr(title) "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 1em;
                    box-sizing: border-box;
                    pointer-events: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .input-field-input {
                opacity: 0;
                font-weight: normal;
                padding: 0.929em 1em;
                cursor: pointer;
            }
        }

        &.max,
        &.maxlength {

            .input-field-character-count-max-divider,
            .input-field-character-count-max {
                display: block;
            }
        }

        &.showcount {
            .input-field-character-count-container {
                display: block;
            }
        }

        &.clearbutton {
            .input-field-clear {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
                display: flex;
            }
        }

        &.icon[icon-align="right"],
        &.clearbutton {
            .input-field-input {
                padding-right: 2.2em;
            }
        }

        &.icon[icon-align="left"] {
            .input-field-input {
                padding-left: 2.2em;
            }
        }

        &.icon[icon-align="left"],
        &.icon.clearbutton {
            label.input-field-inside-label {
                padding-left: 1.2em;
            }
        }

        &.icon.clearbutton {
            .input-field-input {
                padding-left: 2.2em;
                padding-right: 2.2em;
            }
        }

        &.icon[icon-align="right"] {
            .input-field-input-overlay {
                justify-content: flex-end;
            }
        }

        &.icon.clearbutton[icon-align="right"] {
            .input-field-input-overlay {
                justify-content: space-between;
            }
        }
    }

    .input-field-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 90%;
        padding: 0.1em;
    }

    .input-field-message-help {
        opacity: 0.6;
        line-height: 1.6em;
        font-size: 90%;
        transform: scale(1);
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    .input-field-message-error {
        opacity: 0;
        line-height: 1.6em;
        transform: scale(0);
        font-size: 0%;
        color: #a10005;
        transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out;
    }

    .input-field-character-count-inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.6;
        padding: 0em 0em 0em 1em;
    }

    .input-field-character-count-container,
    .input-field-character-count-max-divider,
    .input-field-character-count-max {
        display: none;
    }

    icon-element {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .input-field-clear {
        display: none;
    }

    .input-field-middle-section {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        position: relative;
    }

    .input-field-input-section {
        width: 100%;
        max-width: 100%;
        position: relative;
        flex-grow: 1;
        flex-basis: 0;
    }

    .input-field-input-container {
        position: relative;
    }

    .input-field-input,
    .input-field-input.multi-input input {
        background: rgba(255, 255, 255, .4);
        position: relative;
        border: none;
        border-radius: 2px;
        display: block;
        margin: 0em;
        width: 100%;
        padding: 1em;
        opacity: 1;
        font: inherit;
        color: inherit;
        outline: none !important;
        appearance: none;
        box-sizing: border-box;
        text-overflow: ellipsis;
        hyphens: auto;
        box-shadow: none;
        transition: color 0.4s, background-color 0.4s, opacity 0.2s, box-shadow 0.3s;

        &[disabled] {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.6;
            background: rgba(200, 200, 200, 0.6);
        }

        &[readonly] {
            cursor: not-allowed;
            pointer-events: none;
        }

        &.intl-phone-input {
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            input {
                flex-grow: 1;
                width: 100%;
                padding: 1em 1em 1em 0.25em;
                margin: 0;
                border: none;
                appearance: none;
                background: transparent;
                outline: none !important;
                font: inherit;
                line-height: inherit;
            }
        }

        &.multi-input {
            display: flex;
            align-items: center;
            padding: 0;

            &>input {
                background: transparent;
            }
        }
    }

    input,
    textarea {
        cursor: text;
    }

    input::-ms-clear {
        display: none;
    }

    @supports (-webkit-overflow-scrolling: touch) {

        input.input-field-input:focus,
        textarea.input-field-input:focus {
            font-size: 16px !important;
        }
    }

    .input-field-border {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 2px;
        pointer-events: none;
        box-shadow: inset 0px 0px 0px 1px;
        color: inherit;
        transition: box-shadow 0.4s;
    }

    .input-field-input-effects {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        pointer-events: none;
        padding: 0em;
        overflow: hidden;
        border-radius: 2px;
    }

    .input-field-input-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0em 0.5em;
    }

    .input-field-checkbox-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        top: 0px;
        left: 0px;
        pointer-events: none;
        color: #fff;
        opacity: 0;
        margin-left: 0.009em;
        transition: opacity 0.2s ease-in-out;
    }
}

.input-field-file-path-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent;
    border: none;
    display: block;
    margin: 0em;
    padding: 1em;
    opacity: 1;
    font: inherit;
    color: inherit;
    outline: none !important;
    appearance: none;
    box-sizing: border-box;
    text-overflow: ellipsis;
    hyphens: auto;
    box-shadow: none;
}