<div class="dropdown-select-container">
    <div class="dropdown-select-input-container">
        <div class="dropdown-select-label-container">
            <div class="dropdown-select-label"></div>
        </div>
        <input class="dropdown-select-filter">
        <select class="dropdown-select-input"></select>
    </div>
    <div class="dropdown-select-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z" /></svg>
    </div>
    <overlay-content align="center bottom"></overlay-content>
    <slot name="effects"></slot>
    <style type="text/css" rel="stylesheet" style="display:none;" class="injectedStyles"></style>
</div>
