<div class="content-transition-container">
    <div class="content-transition-inner">
        <div class="next-slot">
            <slot name="next"></slot>
        </div>
        <div class="current-slot">
            <slot current="true" name="current"></slot>
        </div>
        <div class="hidden-slot">
            <div class="hidden-slot-inner">
                <slot name="hidden"></slot>
            </div>
        </div>
    </div>
    <style type="text/css" rel="stylesheet" style="display:none;" class="injectedStyles"></style>
    <style type="text/css" rel="stylesheet" style="display:none;" class="themeStyles"></style>
</div>
