:host {
    display: block;
    width: 100%;
}

content-transition {
    display: block;
    width: 100%;
}

.content-transition-container {
    position: relative;
    width: 100%;
    height: 100%;

    .current-slot {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .next-slot {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content-transition-inner {
        width: 100%;
        height: 100%;
    }

    .hidden-slot {
        width: 0px;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;

        .hidden-slot-inner {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &.keepchildren {
        .next-slot {
            pointer-events: none;
            opacity: 0;
            transform: translateZ(0) translateX(-100%);
        }
    }

    &.sliding {
        overflow: hidden;
    }
}

[slot="hidden"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
}