@mixin flexin {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

@mixin hostin {
    display: block;
    width: 100%;
    position: relative;
}

:host(content-transition) {
    @include hostin();
}

content-transition {
    @include hostin();
}

.content-transition-container {
    position: relative;
    @include flexin;

    .current-slot {
        @include flexin;
        opacity: 1;
    }

    .next-slot {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity:0;
    }

    .content-transition-inner {
        @include flexin;
    }

    .hidden-slot {
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
        user-select: none;

        .hidden-slot-inner {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &.keepchildren {
        .next-slot {
            pointer-events: none;
            opacity: 0;
            transform: translateZ(0) translateX(-100%);
        }

        &[type="fade"] {
            .next-slot {
                transform: translateZ(0) translateX(0);
            }
        }
    }

    &.sliding {
        overflow: hidden;
    }
}

/*
[slot="hidden"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;

    * {
        pointer-events: none;
    }
}

[slot="next"] {
    width: 100%;
}
*/