:host {
    position: fixed;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

image-loader {
    position: fixed;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.image-loader-container {
    position: fixed;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}