:host(effect-fade) {
    pointer-events: none;
    box-sizing: border-box;
}

effect-fade,
.effect-fade-container,
.effect-fade-container * {
    pointer-events: none;
    box-sizing: border-box;
    outline: none !important;
}