:host(drop-down) {
    outline: none !important;
    display: inline-block;
    position: relative;
}

drop-down {
    outline: none !important;
    display: inline-block;
    position: relative;
}

.drop-down-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    /*height: 100%;*/
    position: relative;
    cursor: pointer;
    outline: none !important;

    &.opened {
        overlay-content {
            z-index: 4;
        }
    }

    .drop-down-heading {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .drop-down-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.25em 0 -0.5em;

        svg {
            fill: currentColor;
        }
    }

    .drop-down-label {
        position: relative;
        /*height: 100%;*/
        display: inline-flex;
        align-items: center;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    .drop-down-label:after {
        position: relative;
        display: inline-block;
        content: "\00a0";
    }
}

.drop-down-option {
    padding: 0.5em 1em;
    color: inherit;
    background-color: #fafafa;
    outline: none !important;
}