spinner-element {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    pointer-events: none;
    z-index: 999999999999999999;
}

spinner-element[page="true"] {
    top: 0;
    left: 0;
}