<div class="time-display-container">
    <div class="time-display-inner">
        <div class="time-display-hours-container time-display-input-container">
            <input-field type="rotary" class="time-display-hours" disablefilter="true"></input-field>
        </div>
        <span class="time-divider">:</span>
        <div class="time-display-minutes-container time-display-input-container">
            <input-field type="rotary" class="time-display-minutes" disablefilter="true"></input-field>
        </div>
        <span class="time-divider">:</span>
        <div class="time-display-seconds-container time-display-input-container">
            <input-field type="rotary" class="time-display-seconds" disablefilter="true"></input-field>
        </div>
        <span class="ampm-divider">&nbsp;</span>
        <div class="time-display-ampm-container time-display-input-container">
            <input-field type="rotary" class="time-display-ampm" disablefilter="true"></input-field>
        </div>
    </div>
</div>
