overlay-content {
    display: block;
    position: fixed;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 99999;
    overflow: visible;
    pointer-events: none;
    outline: none !important;
}