:host {
    display: block;
    position: fixed;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 99999;
    overflow: visible;
    pointer-events: none;
}

.overlay-content-container {
    display: block;
    position: fixed;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 99999;
    overflow: visible;
    pointer-events: none;
}

overlay-content {
    display: block;
    position: fixed;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 99999;
    overflow: visible;
    pointer-events: none;
}

.overlay-content-container {
    .overlay-content-container-inner {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        pointer-events: none;
        overflow: hidden;
        display: none;
    }

    .overlay-content-content-container {
        max-height: 80vh;
        max-width: 80vw;
        overflow: auto;
        position: relative;
        width: 100%;
        transform-origin: center center;
        transform: scale(1, 0);
        pointer-events: none;
        opacity: 0;
        display: inline-flex;
        flex-direction: column;
        transition: opacity 0.2s ease-in-out;
    }

    &.active {
        .overlay-content-container-inner {
            display: block;
        }

        .overlay-content-content-container {
            pointer-events: all;
            opacity: 1;
        }
    }

    &.activating {
        .overlay-content-container-inner {
            display: block;
        }
    }

    .overlay-content-content-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 0;

        &.bottom {
            justify-content: flex-start;
        }
    }
}