<div class="snack-bar-container">
    <div class="snack-bar-inner">
        <div class="snack-bar-icon">
            <div class="snack-bar-icon-inner">
                <icon-element size="1.5em" class="infoicon"></icon-element>
                <icon-element size="1.5em" class="successicon"></icon-element>
                <icon-element size="1.5em" class="erroricon"></icon-element>
                <icon-element size="1.5em" class="warningicon"></icon-element>
            </div>
        </div>
        <div class="snack-bar-text">
            <div class="snack-bar-text-inner">
                <span slotname="body"></span>
            </div>
        </div>
        <div class="snack-bar-close">
            <div class="snack-bar-close-inner">
                <button-element class="snack-bar-default-button nomargin slim nobackground noshadow">
                    <icon-element size="1.5em" class="snack-bar-close-icon"></icon-element>
                </button-element>
            </div>
        </div>
        <div class="snack-bar-type-bar"></div>
    </div>
</div>
