snack-bar {
    [slot="body"] {
        padding: 1em;
        box-sizing: border-box;
        align-items: center;
        display: block;
        width: 100%;
        word-break: break-word;
    }

    [slot] {
        padding: 1em;
        box-sizing: border-box;
        align-items: center;
        display: block;
        width: 100%;
        word-break: break-word;
    }

    transition: opacity 0.2s;

    &[ready="true"] {
        opacity: 1;
    }
}