snack-bar {
    [slot="body"] {
        padding: 1em;
        box-sizing: border-box;
        align-items: center;
        display: block;
        width: 100%;
        word-break: break-word;
    }

    ::slotted(*) {
        padding: 1em;
        box-sizing: border-box;
        align-items: center;
        display: block;
        width: 100%;
        word-break: break-word;
    }
}