.snack-bar-container {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    transition: opacity 0.2s ease-in-out;

    &[align="none"] {
        top: unset;
        left: unset;
        position: relative;
    }

    &[align="top"] {
        top: 4em;
    }

    &[align="bottom"] {
        bottom: 2em;
    }

    &.shown {
        pointer-events: all;
        opacity: 1;
    }

    .snack-bar-inner {
        width: 90%;
        max-width: 600px;
        background-color: #fff;
        box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.61);
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex: 0 1 auto;

        [slot="body"] {
            padding: 1em;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            width: 100%;
            word-break: break-word;
        }

        ::slotted(*) {
            padding: 1em;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            width: 100%;
            word-break: break-word;
        }
    }

    .snack-bar-text {
        flex-grow: 1;
        width: calc(100% - 7.5em);

        .snack-bar-text-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            flex: 0 1 auto;
        }
    }

    .snack-bar-text,
    .snack-bar-icon,
    .snack-bar-close,
    .snack-bar-type-bar {
        display: flex;
        align-self: stretch;
        flex: 0 1 auto;
    }

    .snack-bar-type-bar {
        width: 3px;
        min-width: 3px;
        display: none;
    }

    .snack-bar-close {
        width: 4em;
        -ms-flex-preferred-size: 4em;

        .snack-bar-close-inner {
            padding: 1em;
            box-sizing: border-box;
            display: flex;
            align-items: center;
        }
    }

    .snack-bar-icon {
        width: 3.5em;
        -ms-flex-preferred-size: 3.5em;
        color: #fff;
        background-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.125), transparent 36%);

        .snack-bar-icon-inner {
            width: 100%;
            padding: 1em;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .infoicon,
    .successicon,
    .warningicon,
    .erroricon {
        display: none;
        box-sizing: border-box;
        align-items: center;
    }

    &[type="info"] {
        .infoicon {
            display: flex;
        }

        .snack-bar-icon {
            background-color: #4fa8b8;
        }

        .snack-bar-type-bar {
            display: flex;
            background-color: #4fa8b8;
        }
    }

    &[type="error"] {
        .erroricon {
            display: flex;
        }

        .snack-bar-icon {
            background-color: #ce0000;
        }

        .snack-bar-type-bar {
            display: flex;
            background-color: #ce0000;
        }
    }

    &[type="warning"] {
        .warningicon {
            display: flex;
        }

        .snack-bar-icon {
            background-color: #f1813a;
        }

        .snack-bar-type-bar {
            display: flex;
            background-color: #f1813a;
        }
    }

    &[type="success"] {
        .successicon {
            display: flex;
        }

        .snack-bar-icon {
            background-color: #5eb344;
        }

        .snack-bar-type-bar {
            display: flex;
            background-color: #5eb344;
        }
    }

    &.hide-close-btn {
        .snack-bar-close {
            display: none;
        }

        .snack-bar-text {
            width: calc(100% - 3.5em);
        }
    }
}