:host(horizontal-slider) {
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    position: relative;
    padding: 0 0 2.5em;
    box-sizing: border-box;
}

horizontal-slider {
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

.horizontal-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    box-sizing: border-box;
    pointer-events: all;
    opacity: 0;
    transition: opacity 0.2s;

    &.isready {
        opacity: 1;

        .horizontal-slider-items {
            transition: transform 0.4s;
        }
    }

    &.has-chicklets {
        .horizontal-slider-inner {
            height: calc(100% - 2em);
        }
    }
}

.horizontal-slider-inner {
    display: flex;
    height: 100%;
    flex-grow: 1;
    position: relative;
    overflow: visible;
    background: rgba(0, 0, 0, 0.62);
}

.horizontal-slider-items {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    touch-action: pan-y;
    perspective: 1px;
    transform-style: preserve-3d;
    transform: translateZ(0);
    backface-visibility: hidden;
    outline: 1px solid transparent;
}

.horizontal-slider-item {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    width: auto;
    cursor: pointer;
    position: relative;
    z-index: 1;
    pointer-events: all;
    transition: opacity 0.5s ease-in-out;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.18), 0 12px 12px -10px rgba(0, 0, 0, 0.48);
        transition: opacity 0.5s linear 0.3s;
    }

    &:hover,
    &.active-horizontal-slider-item {
        z-index: 2;

        &:before {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }

    &>* {
        position: relative;
    }

    & img {
        perspective: 1px;
        transform-style: preserve-3d;
        transform: translateZ(0);
        backface-visibility: hidden;
        outline: 1px solid transparent;
    }

    &.not-visible-item {
        opacity: 0;
        pointer-events: none;
    }
}

.horizontal-slider-next,
.horizontal-slider-previous {
    width: 2em;
    min-width: 2em;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    pointer-events: all;
    position: relative;
    z-index: 2;
    background: transparent;
    cursor: pointer;
    color: inherit;
    opacity: 0.7;
    user-select: none;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    .horizontal-slider-default-arrow {
        fill: currentColor;
        stroke: currentColor;
        stroke-width: 0.5px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.37);
        padding: 0.25em;
        display: block;
        width: 2em;
        height: 2em;
        box-sizing: border-box;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }

    &.show-horizontal-slider-arrows {
        display: flex;
    }
}

.horizontal-slider-chicklets {
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -0.25em;
    flex-wrap: nowrap;
    user-select: none;

    .horizontal-slider-chicklet {
        width: 0.8em;
        min-width: 0.8em;
        max-width: 0.8em;
        height: 0.8em;
        min-height: 0.8em;
        max-height: 0.8em;
        background-color: rgba(129, 133, 138, 0.49);
        position: relative;
        border-radius: 50%;
        pointer-events: all;
        margin: 0 0.25em;
        cursor: pointer;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25);

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #59a2d8;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
            opacity: 0;
            border-radius: 50%;
            pointer-events: none;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover,
        &.active {
            &:after {
                opacity: 1;
            }
        }
    }
}