:host,
country-dropdown,
.country-dropdown-container {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    outline: none !important;
}

.country-dropdown-container {

    overlay-content .country-dropdown-option {
        background: #fff;
        padding: 0em 0.5em;
    }

    overlay-content .country-dropdown-option.selected {
        background: #59a2d8;
        color: #fff;
    }

    overlay-content .country-dropdown-option-label {
        margin-left: -0.5em;
    }

    .country-dropdown-container-inner,
    .country-dropdown-label {
        position: relative;
    }


    .country-dropdown-option {
        display: flex;
        cursor: pointer;
        box-sizing: border-box;
    }
}