<style>
    calendar-grid,
    :host {
        font: inherit;
        line-height: inherit;
        display: block;
    }

    .calendar-inner {
        overflow: hidden;
    }

    .calendar-days-of-week,
    .calendar-inner {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .calendar-day-of-week {
        opacity: 0.33;
        padding: 20% 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar-inner .calendar-day-container {
        position: relative;
        border-radius: 2px;
        outline: none !important;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    }

    .calendar-inner .calendar-day-container.out-of-range {
        opacity: 0.33;
    }

    .calendar-inner .calendar-day-container.current {
        background: #59a2d8;
        color: #fff;
    }

    .calendar-inner.clickable .calendar-day-container:hover:not(.current),
    .calendar-inner.clickable .calendar-day-container.in-range {
        background: rgba(89, 162, 216, 0.24);
    }

    .calendar-inner .calendar-day-container:before {
        content: '';
        display: inline-block;
        height: 0px;
        width: 1px;
        padding-top: 100%;
        position: relative;
    }

    .calendar-inner .calendar-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    .calendar-inner.clickable .calendar-day {
        cursor: pointer;
        outline: none !important;
    }

    .calendar-inner .calendar-day-data-container .calendar-day-data-item {
        width: 0.5rem;
        height: 0.5rem;
        background: #8d8cca;
        border-radius: 50%;
        cursor: pointer;
        margin: 0.25rem;
    }

</style>
