:host {
    font: inherit;
    line-height: inherit;
    display: inline-block;
    position: relative;
}

button-element {
    font: inherit;
    line-height: inherit;
    display: inline-block;
    position: relative;
}

.button-element {
    display: block;
    position: relative;
    margin: 1.4em 0;

    &.nomargin {
        margin: 0;
    }

    &.slim {
        button {
            padding: 0.25em;
        }
    }

    &.short {
        button {
            padding: 0.5em 1em;
        }
    }

    button {
        opacity: 0;
        background: $buttonelement_background_color;
        position: relative;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: auto;
        padding: 1em;
        font: inherit;
        color: $buttonelement_color;
        cursor: pointer;
        appearance: none;
        box-sizing: border-box;
        text-overflow: ellipsis;
        hyphens: auto;
        box-shadow: $buttonelement_box_shadow;
        border-radius: $buttonelement_border_radius;
        outline: 0px !important;
        transform: scale(1);
        transition: box-shadow 0.2s, color 0.4s, background-color 0.4s, opacity 0.2s ease-in-out 0.01s;

        &.ready {
            opacity: 1;
        }

        &:hover {
            background-color: $buttonelement_hover_background_color;
            color: $buttonelement_hover_color;
            box-shadow: $buttonelement_hover_box_shadow;
        }
    }

    slot {
        pointer-events: none;
    }
}