:host(button-element) {
    font: inherit;
    line-height: inherit;
    display: inline-block;
    position: relative;
    outline: none !important;
}

button-element {
    font: inherit;
    line-height: inherit;
    display: inline-block;
    position: relative;
    outline: none !important;
}

.button-element-container {
    display: block;
    position: relative;
    margin: 1.4em 0;

    &.nomargin {
        margin: 0;
    }

    &.slim {
        button {
            padding: 0.25em;
        }
    }

    &.short {
        button {
            padding: 0.5em 1em;
        }
    }

    &.nobackground {
        button {
            background: transparent;
            background-color: transparent;

            &:hover {
                background: transparent;
                background-color: transparent;
            }
        }
    }

    &.noshadow {
        button {
            box-shadow: none;

            &:hover {
                box-shadow: none;
            }
        }
    }

    button {
        opacity: 0;
        background: #fafafa;
        position: relative;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: auto;
        padding: 1em;
        font: inherit;
        color: inherit;
        cursor: pointer;
        appearance: none;
        box-sizing: border-box;
        text-overflow: ellipsis;
        hyphens: auto;
        box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.13), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        outline: 0px !important;
        transform: scale(1);
        white-space: nowrap;
        transition: box-shadow 0.2s, color 0.4s, background-color 0.4s, opacity 0.2s ease-in-out 0.01s;

        &.ready {
            opacity: 1;
        }

        &:hover {
            background-color: #fff;
            box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.13), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 10px 9px -6px rgba(0, 0, 0, 0.2);
        }

        .btn-submit {
            position: absolute;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            appearance: none;
            opacity: 0;
        }
    }

    slot {
        pointer-events: none;
    }
}