<style>
    :host,
    :root,
    rotary-list {
        display: block;
        width: 100%;
        max-width: 100%;
        position: relative;
    }

    .rotary-list-container {
        height: 100%;
    }

    .rotary-list-inner {
        text-align: center;
        outline: none !important;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s ease-in-out;
    }

    .rotary-list-inner.transitioning {
        opacity: 0.5;
    }

    .rotary-list-height {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        line-height: 100%;
    }

    .rotary-list-option {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: inherit;
        line-height: inherit;
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;
        transform-origin: center center;
        transition: transform 0.1s, line-height 0.1s, opacity 0.1s, color 0.1s;
    }

    .rotary-list-option.option1 {
        color: #59a2d8;
    }

    .rotary-list-inner.no-transition {
        opacity: 0;
        transition: none;
    }

    .rotary-list-inner.no-transition .rotary-list-option {
        transition: none;
    }

</style>
